@import "../../../../styles.scss";

.list-group-item {
  background-color: transparent;
  border: transparent;
  padding: 5px 0px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.date {
  text-align: right;
}

.amount {
  color: white;
}

.transaction{
  width: 50px;
  height: 40px;
  border-radius: 10px;
}

.transfer {
  background-color: $purple;
}

.expense {
  background-color: $pink;
}

.income {
  background-color: $light-blue;
}

.transaction-description {
  display: flex;
  align-items: center;
}
.transaction-description div{
  margin-right: 5px;
  margin-left: 5px;
}