@import "../../../../styles.scss";

.list-group-item {
  background-color: transparent;
  border: transparent;
  padding: 5px 0px;
}

.transaction-item{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.icon-and-description{
  display: flex;
  flex-flow: row;
}

.date {
  text-align: right;
}

.amount {
  color: white;
}

.transaction{
  width: 50px;
  height: 40px;
  border-radius: 10px;
}

.transfer {
  background-color: $purple;
}

.expense {
  background-color: $pink;
}

.income {
  background-color: $light-blue;
}

.transaction-description {
  display: flex;
  align-items: center;
}
.transaction-description div{
  margin-right: 5px;
  margin-left: 5px;
}

.description-and-amount{
  margin-left: 10px;
}

.transaction{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}