<div class="row dashboard-row">
    <div class="col-md-6">
        <budget-calendar (onDateChanged)="onDateChanged($event)"></budget-calendar>
    </div>
    <div class="col-md-6">
        <monthly-budget #monthlyBudget></monthly-budget>
    </div>
</div>
<div class="content-divider"></div>
<div class="row dashboard-row">
    <div class="col-md-6">
        <top-expenses #topExpenses></top-expenses>
    </div>
    <div class="col-md-6">
        <last-transactions #lastTransactions></last-transactions>
    </div>
</div>