@import "../../../colors.scss";

ul.navbar-nav li.nav-item a.nav-link {
  color: $disabled-text-color;
}

ul.navbar-nav li.nav-item a.nav-link.active {
  color: $active-text-color;
}

ul.navbar-nav li.nav-item {
  margin: 0em 1.5em;
}

.profile {
  padding: 10px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .profile {
    display: block;
  }
  
}
.navbar-container{
  display: flex;
  justify-content: center; 
}

.avatar-profile:hover {
  box-shadow: 0 0 2px 2px $active-text-color;
}

.avatar-profile {
  width: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.rounded-circle {
  border-radius: 50%;
}

div.nav-col .bg-dark{
  background-color: $primary-color !important;
}