<div class="row">
  <div class="col-md-11 nav-col">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid navbar-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Principal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/transactions" routerLinkActive="active">Transacciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/reports">Reportes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/accounts" routerLinkActive="active">Cuentas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/categories">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/spending-plan">Plan de gastos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-md-1 profile">
    <img alt="avatar image" class="rounded-circle avatar-profile"
      [matMenuTriggerFor]="profileMenu"
      src="https://firebasestorage.googleapis.com/v0/b/budget-manager-14bf4.appspot.com/o/london.jpeg?alt=media&token=26fe7742-5211-42af-a852-0339f4af6075">
  </div>
</div>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item routerLink="/profile">Perfil</button>
  <button mat-menu-item (click)="logout()">Cerrar sesion</button>
</mat-menu>