@import "../../../../styles.scss";

.table-content {
  margin-top: 25px;
  background-color: $primary-color;
  width: 100%;
  min-height: 80%;
}

.mat-table {
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  background-color: $primary-color;
}

.mat-paginator{
  font-family: 'Maven Pro', sans-serif;
  background-color: $primary-color;
}

.action-container {
  display: flex;
}

.action-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.action-button:hover {
  background-color: rgba($color: $disabled-text-color, $alpha: 0.3);
}

.expense-amount {
  color: rgb(239, 83, 80);
}

.income-amount {
  color: rgb(102, 187, 106);
}

.transfer-amount {
  color: rgb(66, 165, 245);
}