@import "../../../../colors.scss";
@import "../../../../table.scss";

.expense-amount {
  color: rgb(239, 83, 80);
}

.income-amount {
  color: rgb(102, 187, 106);
}

.transfer-amount {
  color: rgb(66, 165, 245);
}