<div class="table-content">
    <table class="table-div" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.date | date : 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> Notas </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.notes}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.category}} </td>
        </ng-container>

        <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef> Cuenta </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.account}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let transaction">
                <span [class]="getAmountClassByType(transaction)">
                    {{transaction.amount | currency }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let transaction">
                <div class="action-container">
                    <div class="action-button disable-select">
                        <fa-icon [icon]="['far', 'edit']" (click)="editTransaction(transaction)"></fa-icon>
                    </div>
                    <div class="action-button disable-select" (click)="deleteDialog(transaction)">
                        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


</div>