<div class="header">
    <div>
        <h2>Cuentas</h2>
    </div>
    <div class="header-buttons disable-select">
        <div class="header-button" matTooltip="Agregar cuenta nueva">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </div>
        <div class="header-button" matTooltip="Crear transferencia">
            <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
        </div>
        <div class="header-button" matTooltip="Cuentas archivadas">
            <fa-icon [icon]="['fas', 'archive']"></fa-icon>
        </div>
    </div>
</div>