<h1 mat-dialog-title>Quieres eliminar esta transaccion?</h1>
<div mat-dialog-content>
    <div>
        <span>Fecha: {{data.date | date : 'd MMMM, yyyy' : undefined : 'es-ES'}}</span>
    </div>
    <div>
        <span>Tipo: {{getTypeName(data.type)}}</span>
    </div>
    <div>
        <span>Cuenta: {{data.account.name}}</span>
    </div>
    <div *ngIf="data.transferAccount">
        <span>Cuenta destino: {{data.transferAccount.name}}</span>
    </div>
    <div *ngIf="data.category">
        <span>Categoria: {{data.category.name}}</span>
    </div>
    <div>
        <span>Cantidad: {{data.amount | currency}}</span>
    </div>
</div>
<div mat-dialog-actions class="buttons-box">
    <button mat-stroked-button color="basic" mat-dialog-close>CANCELAR</button>
    <button mat-raised-button color="ok-button" [mat-dialog-close]="true">ELIMINAR</button>
</div>