<div class="container navbar-container" >
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <navbar *ngIf="user$ | async"></navbar>
        </div>
    </div>
</div>
<div class="container-fluid router-outlet-container">
    <div class="row">
        <div class="col-md-3" *ngIf="!(user$ | async)">
        </div>
        <div class="col-md-3 no-float accounts" *ngIf="user$ | async">
            <account-nav ></account-nav>
        </div>
        <div class="col-md-9 no-float content">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
