@import "../colors.scss";

.content-divider{
  height: 50px;
}

.content {
  overflow: hidden;
  background-color: $primary-color;
  padding: 0;
}
.content>div {
  background-color: $secondary-color;
  height: 100%;
  margin: 0;
  padding: 1.5rem;
}

.accounts {
  background-color: $primary-color;
  border-radius: 0px 0px 25px 0px;
}

.router-outlet-container {
  background-color: $secondary-color;
  overflow: hidden;
}

.navbar-container {
  background-color: $primary-color;
  max-width: 100%;
}
