.loginForm {
  display: flex;
  flex-direction: column;
}

.loginContainer {
    margin-top: 100px;
}

@media only screen and (min-width: 768px) {
    [class="loginContainer"] {
        width: 60%;
    }
  }

.loginContainer h1 {
    margin-bottom: 15px;
}

.prefixIcon{
    margin-right: 10px;
}