<div class="groups">
    <mat-list class="account-group" *ngFor="let accountGroup of accountGroups$ | async">
        <div mat-subheader>
            <div class="group-header">
                <div>
                    {{accountGroup.accountType.name}}
                </div>
                <div class="group-total">
                    {{ accountGroup.balance | currency }}
                </div>
            </div>
        </div>
        <mat-list-item *ngFor="let account of accountGroup.accounts">
            <div class="account-container">
                <div class="account-leftcontainer">
                    <div class="account-icon disable-select" [style.background-color]="account.color">
                        <fa-icon [icon]="['fas', account.image]"></fa-icon>
                    </div>
                    <div>
                        <div mat-line>{{account.description}}</div>
                        <div mat-line [class]="account.currentBalance < 0 ? 'negative-amount' : 'positive-amount' ">{{account.currentBalance | currency}}</div>
                    </div>
                </div>
                <div class="account-buttons-container">
                    <div class="account-button disable-select" (click)="editAccount(account)" matTooltip="Editar cuenta">
                        <fa-icon [icon]="['far', 'edit']"></fa-icon>
                    </div>
                    <div class="account-button disable-select" (click)="archiveAccount(account)" matTooltip="Archivar cuenta">
                        <fa-icon [icon]="['fas', 'archive']"></fa-icon>
                    </div>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>