<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="day-cell">
        <span class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </span>
    </div>
</ng-template>

<ng-template #headerTemplate>
    <div class="cal-cell-row cal-header ">
        <div class="cal-cell cal-past "> L </div>
        <div class="cal-cell cal-past "> M </div>
        <div class="cal-cell cal-past "> M </div>
        <div class="cal-cell cal-past "> J </div>
        <div class="cal-cell cal-past "> V </div>
        <div class="cal-cell cal-past"> S </div>
        <div class="cal-cell cal-past"> D </div>
    </div>
    <div class="cal-days-header"></div>
</ng-template>

<div class="cal-header-container">
    <div class="cal-month-header">
        <span>{{ viewDate | date : 'MMMM, yyyy' : undefined :'es-ES' }}</span>
    </div>
    <div class="cal-month-controls">
        <div class="cal-button disable-select" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            <fa-icon [icon]="leftArrow"></fa-icon>
        </div>
        <div class="cal-today-button cal-button disable-select" mwlCalendarToday [(viewDate)]="viewDate">
            <span>Hoy</span>
        </div>
        <div class="cal-button disable-select" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            <fa-icon [icon]="rightArrow"></fa-icon>
        </div>
    </div>
</div>

<mwl-calendar-month-view [viewDate]="viewDate" [events]="events" (dayClicked)="dayClicked($event.day)"
    [cellTemplate]="customCellTemplate" weekStartsOn="1" [headerTemplate]="headerTemplate">
</mwl-calendar-month-view>