<div class="dashboard-container">
  <!-- Left Section -->
  <div class="left-section">
    <mat-card class="menu-item" (click)="selectSection('income')"
      [ngClass]="{'selected-card': selectedSection === 'income'}">
      <mat-card-title class="card-title">
        {{ incomesSum + expensesSum | currency }}
      </mat-card-title>
      <mat-card-content class="card-content">
        Ingresos despues de gastos mensuales
      </mat-card-content>
    </mat-card>
    <mat-card class="menu-item" (click)="selectSection('planned')"
      [ngClass]="{'selected-card': selectedSection === 'planned'}">
      <mat-card-title class="card-title">
        {{ (-1) * plannedExpensesSum | currency }}
      </mat-card-title>
      <mat-card-content class="card-content">
        Gastos planeados
      </mat-card-content>
    </mat-card>
    <mat-card class="menu-item" (click)="selectSection('other')"
      [ngClass]="{'selected-card': selectedSection === 'other'}">
      <mat-card-title class="card-title">
        -$500.00
      </mat-card-title>
      <mat-card-content class="card-content">
        Otros gastos
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Right Section -->
  <div class="right-section">
    <div class="header">
      <transactions-header [displayFeatures]="headerDisplayFeatures" (onMonthIncreased)="monthIncreased()"
        (onMonthDecreased)="monthDecreased()" [date]="currentDate"></transactions-header>
    </div>
    <div *ngIf="selectedSection === 'income'">
      <app-sp-summary [incomeTransactions]="allIncomes" [incomesSum]="incomesSum" [expenseTransactions]="allExpenses"
        [expensesSum]="expensesSum"></app-sp-summary>
    </div>
    <div *ngIf="selectedSection === 'planned'">
      <app-spending-planned-expenses [plannedExpenses]="plannedExpenses"
        [expensesByCategory]="expensesByCategory"></app-spending-planned-expenses>
    </div>
    <div *ngIf="selectedSection === 'other'">Other spending content goes here</div>
  </div>
</div>