<div class="dashboard-container">
  <!-- Left Section -->
  <div class="left-section">
    <mat-card class="menu-item" (click)="selectSection('income')"
      [ngClass]="{'selected-card': selectedSection === 'income'}">
      <mat-card-title class="card-title">
        {{ plannedIncome + plannedExpense | currency }}
      </mat-card-title>
      <mat-card-content class="card-content">
        Ingresos despues de gastos mensuales
      </mat-card-content>
    </mat-card>
    <mat-card class="menu-item" (click)="selectSection('planned')"
      [ngClass]="{'selected-card': selectedSection === 'planned'}">
      <mat-card-title class="card-title">
        {{ (-1) * spentPlannedExpense | currency }}
      </mat-card-title>
      <mat-card-content class="card-content">
        Gastos planeados
      </mat-card-content>
    </mat-card>
    <mat-card class="menu-item" (click)="selectSection('other')"
      [ngClass]="{'selected-card': selectedSection === 'other'}">
      <mat-card-title class="card-title">
        -$500.00
      </mat-card-title>
      <mat-card-content class="card-content">
        Otros gastos
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Right Section -->
  <div class="right-section">
    <div *ngIf="selectedSection === 'income'">
      <app-sp-summary (incomesSumChange)="updatePlannedIncomesSum($event)"
        (expensesSumChange)="updatePlannedExpensesSum($event)"></app-sp-summary>
    </div>
    <div *ngIf="selectedSection === 'planned'">
      <app-spending-planned-expenses (plannedExpensesSumChange)="updateSpendPlannedExpensesSum($event)"></app-spending-planned-expenses>
    </div>
    <div *ngIf="selectedSection === 'other'">Other spending content goes here</div>
  </div>
</div>