<div class="header">
    <div>
        <h2>{{date | date : 'MMMM yyyy' : undefined :'es-ES'}}</h2>
    </div>
    <div class="header-buttons disable-select">
        <div [ngClass]="['header-button', searchOpen ? 'active' : '']" (click)="displaySearch($event)">
            <input matInput #searchInput (keyup)="onFilterTextChanged($event)" [(ngModel)]="searchText" (focusout)="displaySearch($event)">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </div>
        <div class="header-button" [matMenuTriggerFor]="menu" matTooltip="Nuevo...">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="createIncomeDialog()">Agregar ingreso</button>
            <button mat-menu-item (click)="createExpenseDialog()">Agregar gasto</button>
            <button mat-menu-item (click)="createTransferDialog()">Agregar transferencia</button>
        </mat-menu>
        <div class="header-button" (click)="createFilterDialog()" matTooltip="Filtrar transacciones">
            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
        </div>
        <div class="header-button" matTooltip="Mes anterior" (click)="decreaseMonth()">
            <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
        </div>
        <div class="header-button" matTooltip="Nes siguiente" (click)="increaseMonth()">
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </div>
    </div>
</div>