<div class="header">
    <div>
        <h2>Febrero 2021</h2>
    </div>
    <div class="header-buttons">
        <div class="header-button">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </div>
    </div>
</div>