<div class="header">
    <div>
        <h2>Febrero 2021</h2>
    </div>
    <div class="header-buttons">
        <div class="header-button">
            <fa-icon [icon]="searchIcon"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="addIcon"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="filterIcon"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="rightArrowIcon"></fa-icon>
        </div>
        <div class="header-button">
            <fa-icon [icon]="leftArrowIcon"></fa-icon>
        </div>
    </div>
</div>