$disabled-text-color: #828bc2;

// Modals shared styles
.buttons-box {
  display: flex;
  justify-content: space-between;
}

.transaction-dialog-content {
  display: flex;
  flex-direction: column;
}

.element-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.prefixIcon {
  margin-right: 12px;
}

.autocomplete-option {
  display: flex;
}

.applied-input {
  margin-bottom: 15px;
}
