<h1 mat-dialog-title>Agregar Subcategoria a {{category.name}}</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="transaction-dialog-content">
        <mat-form-field appearance="fill">
            <span matPrefix class="prefixIcon">
                <fa-icon [icon]="['fas', 'signature']"></fa-icon>
            </span>
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="name" class="name" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="buttons-box">
    <button mat-stroked-button color="basic" mat-dialog-close>CANCELAR</button>
    <button mat-raised-button [disabled]="!form.valid" color="ok-button" (click)="save()">GUARDAR</button>
</div>