$primary-color: #14224f;
$secondary-color: #081945;
$third-color: #192a63;
$disabled-text-color: #828bc2;
$active-text-color: #f3f3fd;
$purple: #8a16ff;
$pink: #ff25c2;
$light-blue: #24dffe;
$calendar-pre-text: #f5f5f5;
$expense-color: #ef5350;
$income-color: #00c853;
$transfer-color: #42A5F6;