/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
$primary-color: #14224f;
$secondary-color: #081945;
$disabled-text-color: #828bc2;
$active-text-color: #f3f3fd;

body {
  background-color: $secondary-color;
  color: white;
}