/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
$primary-color: #14224f;
$secondary-color: #081945;
$disabled-text-color: #828bc2;
$active-text-color: #f3f3fd;
$purple: #8a16ff;
$pink: #ff25c2;
$light-blue: #24dffe;

body {
  background-color: $secondary-color;
  color: white;
}

a {
  color: $disabled-text-color;
}

a:hover {
  color: $active-text-color;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
