<h1 mat-dialog-title>Nuevo gasto</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="transaction-dialog-content">
        <mat-form-field appearance="fill">
            <span matPrefix class="prefixIcon">
                <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>
            </span>
            <mat-label>Cantidad</mat-label>
            <input type="number" formControlName="amount" class="amount" matInput>
        </mat-form-field>
        <mat-slide-toggle class="applied-input" formControlName="applied">
            {{ form.get('applied').value ? 'Pagado' : 'No pagado' }}
        </mat-slide-toggle>
        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <span matPrefix class="prefixIcon">
                <fa-icon [icon]="['fas', 'tag']"></fa-icon>
            </span>
            <mat-label>Categoria</mat-label>
            <input matInput [matAutocomplete]="autoCategory" formControlName="category">
            <mat-autocomplete #autoCategory="matAutocomplete">
                <mat-option class="autocomplete-option" *ngFor="let category of filteredCategories | async" [value]="category.name">
                    <div class="element-circle" [ngStyle]="{'background-color':category.color}">
                        <fa-icon [icon]="['fas', category.image]"></fa-icon>
                    </div>
                    <span>{{category.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <span matPrefix class="prefixIcon">
                <fa-icon [icon]="['fas', 'university']"></fa-icon>
            </span>
            <mat-label>Cuenta</mat-label>
            <input matInput [matAutocomplete]="autoAccount" formControlName="account">
            <mat-autocomplete #autoAccount="matAutocomplete">
                <mat-option class="autocomplete-option" *ngFor="let account of filteredAccounts | async" [value]="account.name">
                    <div class="element-circle" [ngStyle]="{'background-color':account.color}">
                        <fa-icon [icon]="['fas', account.image]"></fa-icon>
                    </div>
                    <span>{{account.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <show-more [parentForm]="form"></show-more>
    </form>
</div>
<div mat-dialog-actions class="buttons-box">
    <button mat-stroked-button color="basic" mat-dialog-close>CANCELAR</button>
    <button mat-raised-button [disabled]="form.invalid" color="ok-button" [mat-dialog-close]="true">GUARDAR</button>
</div>