<h1 mat-dialog-title>Quieres aplicar {{isIncome ? 'esta entrada' : 'este gasto'}}?</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="transaction-dialog-content">
        <mat-form-field appearance="fill">
            <span matPrefix class="prefixIcon">
                <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>
            </span>
            <mat-label>Cantidad</mat-label>
            <input type="number" formControlName="amount" 
                [class]="isIncome ? 'amount-income' : 'amount-expense'"
                matInput
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <span matPrefix class="prefixIcon">
                <fa-icon [icon]="['fas', 'university']"></fa-icon>
            </span>
            <mat-label>Cuenta</mat-label>
            <input matInput [matAutocomplete]="autoAccount" formControlName="account">
            <mat-autocomplete #autoAccount="matAutocomplete" [displayWith]="displayAccountFn">
                <mat-option class="autocomplete-option" *ngFor="let account of filteredAccounts | async"
                    [value]="account">
                    <div class="element-circle" [ngStyle]="{'background-color':account.color}">
                        <fa-icon [icon]="['fas', account.image]"></fa-icon>
                    </div>
                    <span>{{account.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="buttons-box">
    <button mat-stroked-button color="basic" mat-dialog-close>CANCELAR</button>
    <button mat-raised-button [disabled]="!form.valid" color="ok-button" 
        [class]="isIncome ? 'mat-ok-button-income' : 'mat-ok-button-expense'" 
        (click)="save()">APLICAR</button>
</div>